@using webClient;
@{ 
    webClient.Data info = new webClient.Data();

    List<Transaction> t = info.InfoTransaction();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <title></title>
</head>
<body>
    <div>

        <table>
            <tr>
                <th>Id</th>
                <th>IdTransaction</th>
                <th>Amount</th>
                <th>Status</th>
                <th>.</th>
            </tr>

            @foreach (Transaction item in t)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.IdTransaction</td>
                    <td>@item.Amount</td>
                    <td>@item.Status</td>
                    <td>
                        @if (item.Capture == false)
                        {

                            <button id="reverse_@item.Id"  trns="@item.IdTransaction" class="reverse">Reverse</button>

                        }
                        else
                        {
                            <button id="refund_@item.Id" amount="@item.Amount" trnsID="@item.IdTransaction" class="refund">Refund</button>
                        }
                    </td>
                </tr>

            }



        </table>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script >
        $(document).ready(function () {
            $(".reverse").on("click", function () {

                var ID = $(this).attr("trns");
                var url = "http://localhost:54833/Service1.svc/Reversal/" + ID;

                 

                var info = {};
                info.code = "54323007";

                var details = {};
                details.totalAmount = "102.21";

                var order = {};
                order.amountDetails = details;

                var Object = {};
                Object.clientReferenceInformation = info;
                Object.reversalInformation = order;
                Object.reason = "testing";

                var myString = JSON.stringify(Object);
                console.log(myString);

                $.ajax({
                    method: "POST",
                    url: url,

                    data: JSON.stringify(Object),
                    contentType: "application/json",
                    dataType: "text",
                    processData: true,
                    success: function (e) {

                        window.location = location.href;


                    },
                    error: function (xhr) {

                    }
                });


            });

            $(".refund").on("click", function () {

                var ID = $(this).attr("trnsID");
                var url = "http://localhost:54833/Service1.svc/Refund/" + ID;



                var info = {};
                info.code = "54323007";

                var details = {};
                details.totalAmount = $(this).attr("amount");
                details.currency = "MXN";

                var order = {};
                order.amountDetails = details;

                var Object = {};
                Object.clientReferenceInformation = info;
                Object.orderInformation = order;

                var myString = JSON.stringify(Object);
                console.log(myString);

                $.ajax({
                    method: "POST",
                    url: url,

                    data: JSON.stringify(Object),
                    contentType: "application/json",
                    dataType: "text",
                    processData: true,
                    success: function (e) {

                        window.location = location.href;


                    },
                    error: function (xhr) {

                    }
                });


            });
        });

    </script>
</body >
</html >
